@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the new moodle interface to follow you in your school advancement.</p>
    <p>Here you will find everything you need to get information for this year at school.</p>
    <br />
    <hr />
    <br />
    <div style="text-align:justify; padding:10px;">
        <h3 style="margin-left:20px">Exams News : </h3>
        <p>
            Even if you cannot have your courses at school you will soon have the finals exams.<br />
            You can follow the date of each test in the exams part of the moodle.<br />
            Don't late to start revise for it.<br />
        </p>
    </div>

    <br />
    <hr />
    <br />
    <div style="text-align:justify; padding:10px;">
        <h3 style="margin-left:20px">COVID-19 News : </h3>
        <p>
            We hope you are all doing well.<br />

            Some restrictions are being eased, although not yet for post-secondary education.<br />

            Therefore, the College is remaining closed to the public until further notice and classes will continue to remain online.<br />

            We cannot wait to see you all back in the College to start our Hybrid experience! In the meantime, the safety of all Dorset College members, Students, Faculty and Staff is our priority.<br />

            Please stay safe, stay connected and keep on smiling :)<br />

        </p>
    </div>
</div>
